@import "../../styles/mixins";
@import "../../styles/vars";
@import "../../styles/base";

.about__title {
    margin-bottom: 40px;
}

.description-item {
    color: $black;
}

.text--break {
    display: block;
    margin-bottom: -15px;
}

@include mediaTablet {
    .about {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@include mediaMobile {
    .about {
        margin-bottom: 20px;
    }
}
