@import "../../styles/mixins";
@import "../../styles/vars";

.secondary-btn {
    @include stylesBtn();

    border-radius: 30px;

    font-size: 16px;
    font-weight: 500px;

    padding: 8px 25px;
}