@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;0,6..12,700;1,6..12,400&display=swap');
@import "./vars";
@import "./mixins";

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: $font-main;
    font-size: 18px;
    color: $gray;
    line-height: 24px;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
}

.title-1 {
    font-size: 60px;
    font-weight: 700;

    color: $black;
}

.title-2 {
    font-size: 50px;
    font-weight: 700;

    color: $black; 
}

@include mediaMobile {
    .title-1 {
        font-size: 60px;
    } 
}

