@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap');
@import "./vars";

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: $font-main;
    font-size: 16px;
    color: $gray;
    line-height: 24px;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
}

.title-1 {
    font-family: $font-title;
    font-size: 70px;
    font-weight: 700;

    color: $black;
}

.title-2 {
    font-family: $font-title;
    font-size: 50px;
    font-weight: 700;

    color: $black; 
}

