@mixin stylesBtn {
    display: flex;
    justify-content: center;

    width: 100%;
    background-color: $green;
    color: white;
    transition: transform 0.2s ease-in;
}

@mixin hoverBtn {
    transform: scale(1.05);
}

@mixin activeBtn {
    position: relative;
	top: 1px;
}

@mixin mediaTablet {
    @media screen and (max-width: $tablet), screen and (max-width: $tablet) and (orientation: portrait) {
        @content;
    };
    // @media screen and (orientation: portrait) {
    //     @content;
    // }
}

@mixin mediaTabletPortrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin mediaMobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}
