@mixin stylesBtn {
    display: flex;
    justify-content: center;

    width: 100%;
    background-color: $green;
    color: white;
    transition: transform 0.2s ease-in;
}

@mixin hoverBtn {
    transform: scale(1.05);
}

@mixin activeBtn {
    position: relative;
	top: 1px;
}

@mixin horizontalLine {
    content: "";

    position: absolute;
    width: calc((100% - 200px) / 2);
    height: 2px;
    background-color: $green;
}

@mixin mediaTablet {
    @media screen and (max-width: $tablet) {
        @content;
    };
}

//screen and (max-width: $tablet) and (orientation: portrait) 
@mixin mediaTabletPortrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin mediaMobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}
