// @mixin container {
//     margin: 0 auto;
//     max-width: 1140px;
//     padding: 0 15px;
// }

@mixin stylesBtn {
    width: 100%;
    background-color: $green;
    color: white;
    transition: transform 0.2s ease-in;
}

@mixin hoverBtn {
    transform: scale(1.05);
}

@mixin activeBtn {
    position: relative;
	top: 1px;
}
