//Fonts
$font-main: 'Nunito Sans', sans-serif;

//Colors
$black: #000000;
$green: #3ECF8E;
$blue: #018AD9;
$gray: #646464;
$sky-blue: #9DD7EB;
$footer-bg: #1D1B1B;
$accent: #BD1458;
$box-shadow: 0px 5px 7px rgba(157, 215, 235, 0.6);

//Media
$tablet: 1080px;
$mobile: 428px;