@import "../../styles/mixins";
@import "../../styles/base";
@import "../../styles/vars";

.home__content {
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr;

    padding: 150px 0;

    position: relative;
}

.points-group {
    position: absolute;

    right: 0;
    bottom: -5%;

    display: flex;
    flex-direction: column;

    gap: 20px;

    padding: 10px 0px 10px 10px;
}

.left-item {
    position: relative;

    // background-color: bisque;
}

.design {
    position: absolute;

    &__points {
        top: -130px;
    }

    &__point {
        right: -100%;
        bottom: 0;
    }

    &__ellipse-1 {
        right: -40px;
        bottom: -60px;
    }

    &__ellipse-2 {
        top: -130px;
        right: -50px;
    }

    &__ellipse-3 {
        left: 0;
        bottom: -50px;
    }

    &__ellipse-4 {
        bottom: -100px;
        right: 200px;
    }

    &__ellipse-5 {
       left: -10%; 
       top: 30%;
    }

    &__ellipse-6 {
        right: 0; 
        top: 100px;
     }

    &__ellipse-7 {
        right: 0; 
        top: -130px;
     }
}

.right-item {
    position: relative;

    max-width: 500px;
}

.home__description {
    display: flex;
    flex-direction: column;
}

.home__title {
    margin-bottom: 12px;

    line-height: 1.25;
}

.home__subtitle {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .01rem;
    color: $blue;
}

.home__btn-wrap {
    position: relative;

    width: 180px;
    height: 48px;
    margin-top: 50px;
}

@include mediaTablet {
    .home {
        padding-right: 30px;
        padding-left: 30px;
    }

    .home__content {
        padding-top: 80px;
    }

    .points-group {
        flex-direction: row;
    }

    .design__point,
    .design__ellipse-4,
    .design__ellipse-5,
    .design__ellipse-6,
    .design__ellipse-7 {
        display: none;
    }

    .design__points, 
    .design__ellipse-2 {
        top: -50px;
    }

    .design__ellipse-1,
    .design__ellipse-3 {
        bottom: 0;
    }
}

@include mediaMobile {
    .home {
        margin-bottom: 60px;
    }

    .design__point,
    .design__ellipse-1,
    .design__ellipse-2,
    .design__ellipse-3,
    .design__ellipse-4,
    .design__ellipse-5,
    .design__ellipse-6,
    .design__ellipse-7 {
        display: none;
    }

    // .points-group {
    //     bottom: 0;
    // }

    .home__content {
        grid-template-columns: 1fr;
    }

    .home__subtitle {
        margin-top: 20px;
    }
}