@import "../../styles/vars";
@import "../../styles/mixins";

.gh-link {
	display: flex;
	column-gap: 10px;
	align-items: center;

    max-width: 170px;

	height: 40px;
	padding: 12px 20px;

	border-radius: 5px;
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
    
    transition: transform 0.2s ease-in;
}

.gh-link:hover {
    @include hoverBtn;
}

.gh-link:active {
	@include activeBtn;
}

@include mediaTablet {
	.gh-link {
		font-size: 14px;
	} 
}

@include mediaMobile {
	.gh-link {
		font-size: 14px;
	}
}