@import "../../styles/mixins";
@import "../../styles/vars";

.main-btn {
    @include stylesBtn;
    min-width: 250px;
    border-radius: 35px;

    font-size: 16px;
    font-weight: 400px;

    padding: 15px 17px;
}

.btn__arrow {
    margin-left: 6px;
}

.main-btn:hover {
    @include hoverBtn; 
}

.main-btn:active {
    @include activeBtn; 
}

@include mediaMobile {
    .main-btn {
        
        font-size: 20px;
        font-weight: 500px; 
    }
}