@import "../../styles/mixins";
@import "../../styles/vars";
@import "../../styles/base";

.projects__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-wrap {
    padding: 40px 0;

    display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 40px;
}

.projects__title {
    margin-top: 20px;
}

@include mediaMobile {
    .projects__title {
        margin-bottom: 20px;
        line-height: 1.1;
    }

    .projects__content {
        margin-bottom: 10px;
    }
}